body {
   color: white;
   background-color: #363332;
   font-family: Arial, Helvetica, sans-serif;
   border-style: solid;
   border-width: 10px;
   border-color: #363332;
}

a {
  color: #7a99c2;
}

a:hover {
  color: white;
}

.topnav {
  background-color: rgb(82, 75, 75);
  overflow: hidden;
}

.topnav a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .icon {
  display: "https://github.com/Swag-Discord-Bot/Swag-Docs/blob/main/Assets/DocsLogo.png?raw=true";
}
